{{!-- NOTE: FOOTER SHOULD CONTAIN SOURCE WEBSITE. --}}
{{!-- However, I want people to stay on my app? Not go directly to the source? --}}
{{!-- May also need to include a link show the JSON format of this, like previous activities --}}

<footer class="footer">
    <div class="container">
        Articles on this page belong to <a href="https://www.cracked.com/" target="#">Cracked</a>
    </div>
</footer>