{{!-- HEADER WILL GO HERE --}}
{{!-- Will be my navbar: Landing page, Scrape route, and Github Repo links --}}

<nav>
    <div>
        <a href="/">Scrappy News</a>
        <ul>
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/racheldmiller/Scrape-News">Check out the Repo</a></li>
        </ul>
    </div>
</nav>