<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} </title>
</head>

{{!-- CSS PORTION GOES HERE --}}
{{!-- This is where I would insert link to Google fonts --}}
{{!-- Link to Bootstrap / Materialize --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
{{!-- Link to style.css --}}

{{!-- SCRIPTS --}}
{{!-- cloudfare cdn --}}
{{!-- assets/js/materialize --}}
{{!-- /assets/js/init --}}
{{!-- assets/js --}}

<body>
    {{> header }}
    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>
    {{> footer}}
</body>

</html>